:root {
    --main-color: rgb(245, 195, 16);
    /* --main-color: rgb(250, 211, 72); */
    /* --color-2: rgb(31, 211, 196); */
    --color-2: rgb(11, 173, 173);
    --color-3: rgb(237, 137, 157);
    --color-4: rgb(5, 5, 81, 1);
}

body, html {
    height: 100vh;
    color: var(--color-4);
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
.hero-image {
    background-image: url("../assets/janita-sumeiko.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-text {
    margin-left: 50px;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
  }
  @keyframes fadein {
      100% {
          opacity: 1;
      }
  }
.hero-text h1 {
    color: var(--color-2);
    font-size: 6rem;
    margin-top: 80px;
    text-shadow: none;
    font-weight: 500;
    font-family: 'Lobster', 'Poppins', 'Lexend Deca', sans-serif;
}
.hero-text h4 {
    color: var(--color-4);
    font-size: 2em;
}
#top-nav {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25rem;
}

#nav-list li a, .navbar-text a .navIcon {
    text-decoration: none;
    color: var(--color-4);
    margin: 0 10px;
}

#nav-list li a:hover, .navbar-text a .navIcon:hover {
    color: var(--color-2);
    text-decoration: none;
}
.navbar-text a .navIcon {
    
}
.navbar-toggler-icon {
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color);
    animation: 0.5s fadein 0s forwards;
    opacity: 0;
    z-index: 1;
}
.about {
    display: flex;
    margin: 10px 15px;
}
.headshot {
    border-radius: 50%;
    padding: 30px;
}
@media only screen and (max-width: 640px) {
    .hero-text h1 {
      font-size: 4rem;
    }
    .hero-text h4 {
        font-size: 1.5rem;
      }
    .hero-text {
        margin-left: 20px;
    }
  }
  @media only screen and (max-width: 460px) {
    .hero-text h1 {
      font-size: 3rem;
    }
    .hero-text h4 {
        font-size: 1.25rem;
      }
    .hero-text {
        margin-left: 20px;
    }
  }
.about-text {
      margin: auto auto;
  }
h2 span {
      border-bottom: 5px solid var(--color-2);
  }
h2 {
      text-align: center;
      margin: 3rem auto;
  }
.carousel {
    max-width: 900px;
    margin: 0 auto;
}
.carousel-indicators .active{
    background-color: var(--color-2);
}
.carouselIcon {
    color: var(--color-2);
}
.skillIcon {
    color: var(--color-2);
    margin: 5px;
}
.storyIcon {
    color: var(--color-3);
    margin: 5px 5px 20px 5px;
}

.contactIcon {
    color: var(--color-4);
    margin: 5px;
}
.contactIcon:hover {
    color: white;
}
.icons {
    text-align: center;
}
footer {
    margin-top:30px;
    background-color: var(--color-2);
    color: var(--color-4);
}
.contact-icons {
    float: left;
    padding-left: 20px;
}
.copyright {
    float: right;
    padding-right: 20px;
    margin: 10px 0px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }